/* general */
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* nav */
header {
  margin-top: 1rem;
  padding: 0 1rem;
  border-bottom: 1px solid #e6e6e6;
}

nav {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  width: 100%;
}

nav img {
  width: 336px;
}

nav ul {
  padding-top: 2rem;
}

nav li {
  float: left;
  margin-left: 40px;
}

nav a {
  font-style: italic;
}

/* menu */
#menu {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-weight: 700;
  padding: 30px 0;
  font-size: 18px;
}

#menu ul {
  display: flex;
  flex-direction: row;
}

#menu li {
  margin-left: 40px;
}

#menu span {
  margin-left: 40px;
}

/* Informacion */
#informacion {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
}

#informacion .container {
  width: 50%;
}

/* informacion izquierda */
#informacion .general {
  padding-top: 2rem;
}

#informacion .modalidad {
  margin-top: 3rem;
  width: 100%;
  border-top: 2px solid #f60 ;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  position: relative;
 
 
}

.modalidad span {
  font-size: 18 px;
  line-height: 25px;
  color: #fff;
  border: 1px solid #ff6600;
  padding: 5px 41px;
  border-radius: 18px;
  background:  #ff6600;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

.general .texto {
  width: 100%;
  margin-bottom: 3rem;
}

.texto h3 {
  font-size: 48px;
  font-weight: 900;
  line-height: 57px;
  color: #00233b;
  margin: 0.67em 0;
}

.texto p {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 30px;
  color: #00233b;
  font-weight: 400;
}

.texto button { 
  background-color: #ffffff;
  color: #00233b;
  border: 1px solid #ff6600;
  padding: 18px 32px;
  border-radius: 35px;
  font-size: 18px;
  letter-spacing: 1px;
  background-size: cover;
  font-family: Roboto;
  line-height: 26px;
  text-decoration: none solid rgb(0,35, 59);
  text-align: center;
}
.tarifas button{
  min-width: 300px;
  padding: 18px 32px;
  background-color: #ff6600;
  background-size: cover;
  font-family: Roboto;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 3px 9px rgba(250, 134, 1, 0.911);
  border-radius: 35px;
  letter-spacing: 1px;
  display: block;
  width: auto;
  max-width: 271px;
  min-width: 276px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
 
}

.datos{
border-top: 1px solid #ff6600;
max-width: 1400px;
margin: 55px auto 5px;
padding: 40px 0 5px;
width: 86%;
}

.datos h3{
font-family: 'Roboto', Arial, Helvetica, sans-serif;
font-size: 40px;
line-height: 43px;
font-weight: 900;
color: #00233b;
text-align: center;
}
.texto button:hover {
  background-color: #f60;
  color: white;
  transition: 0.5s;
}

.general form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.general form div {
  width: 12rem;
}

.general form input {
  width: 100%;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width:100%;
  margin-bottom: 0.6rem !important;
  margin-top: 1.2rem !important;
  box-sizing: border-box;
  float: left;
  margin: 0.1%;
  height: 65px;


}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #ccc;
  outline: 0;
  font-size: 1.3rem;
  color: #000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  font-size: 11px;
  margin: 10px 0 -19px !important;
  
}
.estudios {
  margin-bottom: 0.6rem !important;
  margin-top: 1.2rem !important;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #f60, #f90) 1;
  border-image-slice: 1;
}

.form__field:focus~.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #f60;
  font-weight: 700;
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

form select {
  border: none;
}

form select:not(:focus) {
  border-bottom: 2px solid #ccc;
}

form select:focus {
  border-bottom: 2px solid #f60;
}

.checkbtn {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.btncheck {
  width: 30px !important;
}

.btnEnviar {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  background-color: #f60;
  color: #fff !important;
  border: none;
  border-radius: 0.25rem !important;
  font-weight: 700;
  cursor: pointer;
  margin-top: 30px;
  text-align:center !important ;
  width: auto;
 
}

/* informacion derecha */

.imagen-des img {
  width: 100%;
}

.lista-informacion {
  background-color: #617989;
  padding: 15px 30px 5px;
}

.lista-informacion li {
  font-size: 16px;
  color: white;
  padding-bottom: 10px;
}

.lista-informacion li a {
  color: white;
  /* subrayado */
  text-decoration: underline;
}

.lista-informacion li a:hover {
  text-decoration: none;

}

/* Titulaciones */
.container {
  max-width: 1200px;
  margin: 50px auto;
}

.titulaciones {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.titulaciones__titulo {
  text-align: center;
  font-size: 32px;
}

.titulaciones__titulo-h2 {
  color: #00233b;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.titulaciones__cards {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.titulaciones__card {
  width: 300px;
  height: 300px;
  background-color: #f7f7f5;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulaciones__card-contenido {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #00233b;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
}

.titulaciones__card-contenido span {
  display: block;
}

.titulaciones__card-contenido>span:nth-child(1) {
  font-size: 18px;
}

.titulaciones__card-contenido>span:nth-child(2) {
  font-size: 20px;
}

.titulaciones__card-contenido-resoluciones {
  font-size: 10px;
}

.titulaciones__card-enlace {
  color: #ff6600;
  font-size: 20px;
  text-decoration: underline;
}

/* campo laboral */

#campo_laboral {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 5rem;
}

#campo_laboral .contenedor {
  width: 30%;
}

#campo_laboral .imagen {
  width: 70%;
}

.imagen {
  display: flex;
  /* Usa flexbox para el diseño */
  justify-content: space-between;
  /* Distribuye el espacio entre los elementos */
}

.imagen img {
  width: 55%;
  /* Ajusta el ancho de cada imagen */
  height: auto;
  /* Mantiene la proporción de la imagen */
  margin-left: 1rem;
}

.laboral-heading h2 {

  font-size: 50px;
  padding-bottom: 10px;

}

/* Estilo para la lista */

.laboral-text ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-right: 90px;
}

.laboral-text li {
  margin-bottom: 5px;
  margin-right: 10px;
  font-size: 19px;
}

.laboral-ul {

  margin-left: 18px;
}

/* matriculas */

#matriculas {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 5rem;
  background-color: #e9edf0;
}

#matriculas .matricula-container {
  width: 100%;
}

.titulo h3 {
  font-size: 60px;
  text-align: center;
  margin-top: 2rem;
}

.text-matricula p {
  font-size: 20px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#info-matricula {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 5rem;
}

#info-matricula .info-matricula-img {
  width: 55%;
}

#info-matricula .info-matricula-text {
  width: 45%;
}

.matricula-heading h3 {

  font-size: 50px;
  padding-bottom: 50px;

}

.info-matricula-text ul {
  list-style-type: disc;
  /* Establece el tipo de viñeta */
  padding-left: 20px;
  margin-right: 90px;
  margin-left: 22px;

}

.info-matricula-text li {
  margin-bottom: 25px;
  margin-right: 10px;
  font-size: 21px;
  color: black;
  /* Establece el color del texto a negro */

}

.info-matricula-text ul li::marker {
  color: #f60;
  /* Establece el color de los puntos de viñetas a naranja */
}

.content-titulo {
  font-size: 40px;
  padding: 20px;
  color: #f60;
  border-bottom: 2px solid #f60;
  width: 50%;
}

.content-parrafo {
  font-size: 18px;
  padding-top: 20px;
  padding-right: 45px;
}

.content-parrafo p {
  line-height: 1.5em;
}

.info-matricula-img img {
  width: 80%;
  padding-right: 10px;
}


.content-bottom {
  width: 338px;
  height: 48px;
  background: #5b7281;
  line-height: 32px;
  padding: 8px 12px 12px 75px;


}

.content-bottom a {
  color: #fff;
  font-size: 25px;


}

/* footer */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: sans-serif;
  text-transform: capitalize;
}

.footer {
  background-color: #4e5357;
  padding: 100px;
  color: white;
}

.containerr {
  background: #4e5357;
  max-width: 2000px;
  max-height: 1500px;
  margin: 0 auto;
}

.seccion1 {
  background: #4e5357;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}


/*inicio seccion 1*/
.contenedor1 {
  background: #4e5357;
  height: 350px;
  width: 45%;
  font-size: small;
  color: white;
}

.footer-tex1 {
  font-size: xx-small;
  line-height: 2.5em;
  position: relative;
  left: 50px
}

.footer-row {
  font-size: small;
}

.footer-tex1 h2 {
  background-color: #4e5357;
  font-size: 20px;
  height: 60px;
  width: 25em;
}

.footer-tex2 h2 {
  font-size: 20px;
  background-color: #4e5357;
  width: 25em;
  position: relative;
  left: 50px;
}

.footer3-row h2 {
  font-size: 20px;
  position: relative;
  left: 50px;
}

.footer-tex2 a i {
  background-color: #4e5357;
  font-size: 20px;
  width: 22px;
  margin-right: 5px;
}



.footer-tex2 a {
  background-color: #4e5357;
  text-align: left;
  position: relative;
  left: 320px;
  font-size: 22px;
}

/*final seccion 1*/

/*inicio seccion 2*/
.contenedor2 {
  background-color: #707070;
  height: 300px;
  width: 50%;
  display: flex;
  font-size: 14px;
  border-radius: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  position: relative;
  left: -40px;
}

.contenedor2.footer2-row {
  position: absolute;
  top: 50%;
  left: 70%;
  margin: -25px 0 0 -25px;
}

.footer2-row {
  color: white;
  height: 55%;
  width: 200px;
  margin-top: 20px;
}

.footer2-row2 {
  color: white;
  height: 55%;
  width: 200px;
  margin-top: 10px;

}

.footer2-row3 img {
  max-width: 70px;
  height: auto;
  margin-top: -60px;
}

.footer2-row3 {
  margin-top: 10px;
}

.footer-tex1 hr {
  width: 85%;
}

.footer3-row hr {
  width: 150%;
}


/*final seccion 2*/

/*inicio seccion 3*/

.seccion2 {
  width: 1300px;
  height: 150px;
  color: #f60;
}


nav>ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  margin: 0.5rem;
}

.footer3-row2 ul {
  list-style: none;
}

.footer3-row2 {
  text-align: left;
}

.footer3-row2 a {
  text-decoration: none;
}

/*final seccion 3*/